<app-menu></app-menu>
<app-menuadmin></app-menuadmin>
<div class="caja">
    <div class="container">
        <h1>Detalles de remision</h1>
        <hr>

    </div>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <!-- Desde el botón debere llamar a la función que cargue la lista de los productos que se vayan añadiendo de esta forma, cuando le de click visualizará la lista -->
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Añadir nuevo producto
          </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <form (ngSubmit)="registrar(form)" #form="ngForm">
                        <div class="formulario">
                            <h4>Productos</h4>
                            <select class="form-control" name="idproducto" id="idproducto" [(ngModel)]="detalles.idproducto">
                <option value="0" selected>Selecciona un producto</option>
                <option value="" *ngFor="let prod of productos; let i = index" value="{{prod.codigo}}">
                  Producto: {{prod.nombre}} ${{prod.precio}} MXN
                </option>
              </select>
                            <h4>Clientes</h4>
                            <select class="form-control" name="idcliente" id="idcliente" [(ngModel)]="detalles.idcliente">
                <option value="0" selected>Selecciona un cliente</option>
                <option value="" *ngFor="let client of clientes; let i = index" value="{{client.id}}">
                  Cliente: {{client.nombre}}</option>
              </select>
                            <h4>Almacén</h4>
                            <select class="form-control" name="almacen" id="almacen" [(ngModel)]="detalles.almacen">
                <option value="0">Selecciona un almacén</option>
                <option value="general">general</option>
                <option value="salida">salida</option>
              </select>
                            <h4>Seleccione la cantidad</h4>
                            <input type="number" name="cantidad" id="cantidad" class="form-control" placeholder="1" [(ngModel)]="detalles.cantidad">
                            <button type="submit" class="btn btn-success">Añadir producto a la remisión</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <!-- Desde el botón debere llamar a la función que cargue la lista de los productos que se vayan añadiendo de esta forma, cuando le de click visualizará la lista -->
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" (click)="cargarProductos()">Lista de productos
          </button>
                </h2>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

                <div class="card-body">
                    <div id="areaImprimir" class="container ct">

                        <table class="table">
                            <thead>
                                <tr class="bg-primary tr">
                                    <th scope="col">#</th>
                                    <th scope="col">Remision</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precio unitario</th>
                                    <th scope="col">Total</th>
                                    <th scope="col" class="coleliminar">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr *ngFor="let item of datos; let i = index">
                                    <th scope="row">{{i + 1}}</th>
                                    <th>A00{{item.numero_remision}}</th>
                                    <td>{{item.fecha_remision}}</td>
                                    <td>{{item.cantidad}}</td>
                                    <td> {{item.cliente}} </td>
                                    <td> {{item.codigo}} </td>
                                    <td> {{item.producto}} </td>
                                    <td> ${{item.precio}}</td>
                                    <th>${{item.subtotal}}</th>
                                    <td>
                                        <button class="btn bl btn-danger" (click)="eliminar(item, item.codigo ,i)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form (ngSubmit)="venta(form)" #form="ngForm">
                            <div class="csb" *ngFor="let item of subtotal">
                                <h1 class="ltotal">Subtotal: ${{ item.subtotal }}</h1>
                            </div>
                            <div class="ctotal" *ngFor="let item of total">
                                <h1 class="ltotal">IVA: {{iva}}</h1>
                                <h1 class="ltotal">Total: ${{ item.total }}</h1>
                                <br>
                                <button type="submit" class="btn bl btn-success">Venta</button>

                            </div>
                        </form>
                        <button class="btn btnTicket btn-success" [routerLink]="['/Ticket', id]">Imprimir ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
