::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.caja {
    position: fixed;
    width: 82%;
    height: 595px;
    overflow: scroll;
    margin-top: 4%;
    margin-left: 18.3%;
    /*background-color: rebeccapurple;*/
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.ct {
    margin-bottom: 5%;
}

.tr {
    color: white;
}

td {
    font-size: 14px;
}

.ctotal {
    width: 100%;
    height: 100px;
    float: right;
    margin-top: 0;
    margin-bottom: 5%;
}

.ctotalLetras {
    text-align: center;
}

.csb {
    width: 50%;
    height: 50px;
    float: right;
}

.ltotal {
    font-size: 18px;
    text-align: right;
}

.ltotalletras {
    width: 100%;
    text-align: center;
}

.btn-success,
.btn-info {
    width: 26%;
    float: right;
}

.accordion {
    width: 90%;
    height: 800px;
    margin-left: 5%;
}

.formulario {
    width: 90%;
    margin-left: 5%;
}

.btnTicket {
    margin-bottom: 10%;
}

.form {
    float: right;
    width: 100%;
    margin-right: 1%;
}