* {
    font-size: 9px;
    /*font-family: 'Lucida Sans Unicode';*/
    font-family: 'Franklin Gothic Medium';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 55px;
    max-width: 55px;
}

th.producto,
th.cantidad,
th.precio {
    font-size: 9px;
}

th.total {
    font-size: 9px;
}

th.total,
td.total {
    text-align: right;
}

.itemTotal {
    width: 100%;
    height: 25px;
}

.ltotal {
    float: right;
}

td.cantidad,
th.cantidad {
    width: 26px;
    max-width: 26px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 38px;
    max-width: 38px;
    word-break: break-all;
}

td.precio,
th.total {
    text-align: right;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}

hr {}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}
