<div class="body">

    <div class="ct">
        <div class="titulo">
            <h1>Bienvenido</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolores aspernatur adipisci aut eum, corrupti voluptatem iure molestias provident repudiandae aperiam sit quod amet tenetur beatae accusamus voluptates dolore fuga!</p>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <img src="../../../assets/img/icons8-male-user-100.png" alt="" class="imgLogoLogin">
        </div>
        <h4>Inicia sesión para continuar</h4>
        <hr>
        <form (ngSubmit)="login(form)" #form="ngForm">
            <h5>Correo</h5>
            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="auth.email">
            <h5>Contraseña</h5>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="auth.password">
            <br>
            <button class="btn btn-success form-control">Iniciar sesión</button>
        </form>
    </div>
</div>