<div class="menu navbar-dark bg-dark">
    <div class="profile">
        <div class="imagepro">IMG</div>
        <div class="namepro">Nombre de usuario</div>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item dropdown b">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
            <div class="dropdown-menu">
                <a class=" dropdown-item " href="# ">Perfil</a>
                <a class="dropdown-item " href="# ">Editar</a>
                <div class="dropdown-divider "></div>
                <a class="btn btn-danger" href="# ">Cerrar sesión</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Almacén</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Salidas</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Compras</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Remisiones</a>
        </li>
        <div class="dropdown-divider "></div>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Categorias</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Subcategorias</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Marcas</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Productos</a>
        </li>
        <div class="dropdown-divider "></div>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Inventario</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Ventas</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Reportes</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Otros</a>
        </li>
        <div class="dropdown-divider "></div>
        <li class="nav-item ">
            <a class="nav-link " href="# ">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="# ">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="# ">Acerca de</a>
        </li>
        <li class="nav-item f">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-copyright" aria-hidden="true">&copy;Fernando Leyva</i></a>
        </li>
    </ul>
</div>