<app-menu></app-menu>
<app-menuadmin></app-menuadmin>
<div class="caja">
    <div class="container">
        <div class="cont">
            <h2>Lista de categorias</h2>
            <hr>
            <br>
            <form (ngSubmit)="guardar(form)" #form="ngForm">
                <h5>Nombre de la categoría</h5>
                <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="categorias.nombre">
                <br>
                <h5>Imagen</h5>
                <input type="file" name="imagen" id="imagen" accept="image/jpeg" (change)="cargar_imagen($event)" [(ngModel)]="categorias.imagen">
                <br>
                <br>
                <button type="submit" class="btn btn-success">Añadir nueva categoria</button>
            </form>
        </div>
        <div class="cat" *ngFor="let item of datos; let i = index">
        <div class="redirect" [routerLink]="['/Productos/Filtro', item.nombre]">
        <img src="{{item.imagen}}" alt="">
            <h4>{{item.nombre}}</h4>
        </div>
            <button class="btn bl btn-danger" (click)="eliminar(item, i)">Eliminar</button>
        </div>
    </div>
</div>
