::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.caja {
    position: fixed;
    width: 80%;
    height: 595px;
    overflow: scroll;
    margin-left: 20%;
    margin-top: 4%;
}

.container {
    margin-top: 2%;
}

.ct {
    /*margin-bottom: 5%;*/
    width: 90%;
    height: 380px;
    overflow: scroll;
}

.btn-success {
    margin-bottom: 2%;
}

.bl {
    margin-left: 1%;
}

.bg-primary {
    color: white;
}

.btn-comp {
    float: right;
}

.cont-btn-comp {
    width: 90%;
}
