<app-menu></app-menu>
<app-menuadmin></app-menuadmin>
<div class="caja">
    <div class="container">
        <h1>Lista de remisiones</h1>
        <hr>
    </div>
    <div class="container ct">
        <table class="table">
            <thead>
                <tr class="bg-primary tr">
                    <th scope="col">Remision</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Total</th>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let item of datos; let i = index">
                    <th scope="row">A00{{item.numero_remision}}</th>
                    <td>{{item.fecha_remision}}</td>
                    <td>{{item.estado_remision}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>$ {{item.total}} MXN</td>
                    <td><button class="btn bl btn-success" [routerLink]="['/DetallesRemisiones', item.numero_remision]">Seleccionar</button></td>
                    <td><button class="btn bl btn-danger" (click)="eliminar(item, i)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container cont-rem">
        <form (ngSubmit)="guardar(form)" #form="ngForm">
            <button type="submit" class="btn btn-remision btn-success">Nueva remisión</button>
        </form>
    </div>
</div>
