::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.caja {
    position: fixed;
    width: 82%;
    height: 100%;
    overflow: scroll;
    margin-top: 4%;
    margin-left: 18.3%;
    /*background-color: rebeccapurple;*/
    padding-bottom: 5%;
}

.ban {
    background-image: url("../../../assets/img/logoone..jpg");
    background-repeat: no-repeat;
    /* Indicamos que no se repetira */
    background-size: cover;
    /* Encajamos la imagen al 100% del ancho */
    background-attachment: local;
    /* Establecemos una posicion fija para la imagen */
    font-family: helvetica, arial, sans-serif;
    line-height: 20px;
    width: 100%;
    height: 350px;
    background-color: royalblue;
}

.container {
    width: 100%;
    height: 100%;
    /*background-color: royalblue;*/
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 20%;
}

.prod {
    width: 230px;
    height: 465px;
    float: left;
    padding: 10px;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.img {
    width: 100%;
    height: 200px;
    /*background-color: rebeccapurple;*/
}

.cont {
    width: 100%;
    height: 200px;
    padding: 5px;
}

h6 {
    text-align: center;
}

.ImgProd {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.btn-outline-warning {
    width: 30%;
}

.price {
    text-align: center;
    margin-top: -4%;
}